<div class="jumbotron">
  <div class="container text-center">
    <img src="assets/police/Slpolice.gif" width="100px" height="130px">

    <h2 id="hd1">Police Fine Payment</h2>
    <h3 id="hd2">Department Of Police Sri Lanka</h3>
  </div>
</div>

<nav class="navbar  bg-primary" >
  <div class="container-fluid" >
  </div>
</nav>

<app-search-driver></app-search-driver>
<br><br><br><br><br>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">About Driver Point</div>
        <div class="panel-body"><img src="assets/police/driver.jpg" class="img-responsive" style="width:100%; height: 300px;" alt="Image"></div>
        <div class="panel-footer">Learn More Detail</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">About Payment Detail</div>
        <div class="panel-body"><img src="assets/police/payment.jpg" class="img-responsive" style="width:100% ;height: 300px;" alt="Image"></div>
        <div class="panel-footer">Learn More Detail</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">About expired Fine Bill</div>
        <div class="panel-body"><img src="assets/police/expired.png" class="img-responsive" style="width:100%; height: 300px" alt="Image"></div>
        <div class="panel-footer">Learn More Detail</div>
      </div>
    </div>
  </div>
</div><br><br>
<div class="container">

</div>
<footer class="container-fluid text-center bg-primary">
  <h5>How the Division could help the public</h5>
<p>
    Director Traffic Admin & Road Safety +94-11-2324984<br>
    Traffic Hqrs could be contacted on: +94-11-2431718 +94-11-2421111 – 283<br>
    E-mail – traffichq @ police.lk</p>
</footer>


