.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 2px solid #f48fb1;
  box-shadow: 0 0 0 2px #f48fb1;
}
.active-pink-3 input[type=text] {
  border: 2px solid #f48fb1;
  box-shadow: 0 0 0 2px #f48fb1;
}
@media screen and (max-width: 992px) {
  input{
    font-size: 20px !important;
  }
  #btnsearch{
    width: 150px !important;
    margin-right: 100px !important;
  }
  .date{
    display: none;
  }
}
.ng-touched.ng-dirty.ng-invalid:not(form){
  border: 2px solid black;
}
//-------------------


table tbody{
  cursor: pointer;

  td:last-child:hover{
    color: red;
  }
}
.selected{
  background-color: lightgray;
}
.ng-touched.ng-dirty.ng-invalid:not(form){
  border: 1px solid red;
}
#pagination-wrapper{
  display: flex;
  justify-content: center;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 13px;
  background: red;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

